[Unit]
Description=GL3E Project Assignment FastAPI Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/GL3E-manager
Environment="PATH=/var/www/GL3E-manager/venv/bin"
ExecStart=/var/www/GL3E-manager/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
